[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-rss-plugin = "*"
mkdocs-blog-plugin = "*"
mkdocs-blogging-plugin = "*"
